/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, textarea, button, select, input, pre{margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{border-collapse:collapse; border-spacing:0;}
hr{display:none;}
select{outline:none;}
p, ul, ol, li, dl, dt, dd, form {list-style-image:none; list-style-position:outside; list-style-type:none; border:0px;}
img,fieldset,iframe{border:0 none;}
button{border:0 none;background-color:transparent; cursor:pointer;}
address,caption,cite,code,dfn,em,var{font-style:normal; font-weight:normal;}


/* 데스크탑 */
.category {width:80%; max-width:1060px; margin:0 auto;}
.category .slick-list button {width:100%; height: 50px;padding:0 20px;border: 1px solid transparent;border-radius: 5px;background-color: #f2f4f7;font-size: 15px;}
.category .slick-list button:hover {background:#fff; color:#000; border:1px solid #000}
.slick-prev, .slick-next{background:none; }
.slick-prev:before, .slick-next:before {color:#000;}
.slick-slide > div {padding-right:10px;}
.card-wrap {position:relative; width:90%; max-width:1060px; margin:0 auto; box-sizing: border-box}


.card-wrap h2 {margin:60px 0 20px; font-size: 22px; font-weight: 900; line-height: 1.46; word-wrap: break-word; color: #333;}
.card-wrap ul {overflow:hidden}
.card-wrap ul li {float:left; width:calc(25% - 10px); margin:0 0 20px 10px; border:1px solid #ececec; border-radius:5px; overflow:hidden;}
.card-wrap ul li:nth-child(4n+1) {margin-left:0}
.card-wrap ul li a {display:block;}
.card-wrap ul li a .info {position:relative; padding:20px; height:180px }
.card-wrap ul li a .info .flag span {display:inline-block; margin:0 5px 0 0; padding:2px 5px; font-size:12px; background:#000; color:#fff; border-radius:5px;}
.card-wrap ul li a .info h3 {margin:10px 0 0; font-size:18px; color:#333;}
.card-wrap ul li a .info .date {position: absolute; left: 20px; bottom: 45px; width: calc(100% - 40px); margin-bottom: 0; white-space: nowrap;text-overflow: ellipsis;word-wrap: break-word;font-size: 12px;color: #767676;}
.card-wrap ul li a .info .category {position: absolute; left: 20px; bottom: 20px;margin-top: 5px;height: 20px; width: calc(100% - 40px);}
.card-wrap ul li a .info .category span {font-size:11px}
.card-wrap ul li a .picture {position:relative; width:100%; height:0; padding:0 0 70%; background-position:center; background-size:cover; background-color:#ddd }

@media all and (min-width: 768px) and (max-width: 991px) {
    /*768 이상 991이하*/
    .category .slick-list button {width:100%; height: 50px;padding:0 20px;border: 1px solid transparent;border-radius: 5px;background-color: #f2f4f7;font-size: 11px;}

    .card-wrap {position:relative; width:90%; margin:0 auto; box-sizing: border-box}
    .card-wrap h2 {margin:40px 0 10px; font-size: 22px; font-weight: 900; line-height: 1.46; word-wrap: break-word; color: #333;}

    .card-wrap ul {overflow:hidden}
    .card-wrap ul li {float:left; width:calc(33.33333% - 10px); margin:0 0 20px 10px; border:1px solid #ececec; border-radius:5px; overflow:hidden;}
    .card-wrap ul li:nth-child(3n+1) {margin-left:0}

    .card-wrap ul li a {display:block;}
    .card-wrap ul li a .info {padding:20px; height:180px }
    .card-wrap ul li a .info h3 {margin:10px 0 0; font-size:18px; color:#333;}
    .card-wrap ul li a .info .date {position: absolute; left: 20px; bottom: 45px; width: calc(100% - 40px); margin-bottom: 0; white-space: nowrap;text-overflow: ellipsis;word-wrap: break-word;font-size: 12px;color: #767676;}
    .card-wrap ul li a .info .category {position: absolute; left: 20px; bottom: 20px;margin-top: 5px;height: 20px; width: calc(100% - 40px);}
    .card-wrap ul li a .info .category span {font-size:11px}
    .card-wrap ul li a .picture {position:relative; width:100%; height:0; padding:0 0 70%; background-position:center; background-size:cover; background-color:#ddd }
}
@media all and (max-width: 767px) {
    /*767 이하*/
    .category .slick-list button {width:100%; height: 50px;padding:0 20px;border: 1px solid transparent;border-radius: 5px;background-color: #f2f4f7;font-size: 12px;}

    .card-wrap {position:relative; width:100%; padding:0 20px; box-sizing: border-box}
    .card-wrap h2 {margin:20px 0 5px; font-size: 22px; font-weight: 900; line-height: 1.46; word-wrap: break-word; color: #333;}

    .card-wrap ul {overflow:hidden}
    .card-wrap ul li {float:left; width:calc(50% - 5px); margin:0 0 10px 5px; border:1px solid #ececec; border-radius:5px; overflow:hidden;}
    .card-wrap ul li:nth-child(2n+1) {margin-left:0}

    .card-wrap ul li a {display:block;}
    .card-wrap ul li a .info {padding:12px; height:180px }
    .card-wrap ul li a .info h3 {height: 75px; margin:10px 0 0; font-size:18px; color:#333;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow:hidden}
    .card-wrap ul li a .info .date {position: absolute; left: 20px; bottom: 45px; width: calc(100% - 40px); margin-bottom: 0; white-space: nowrap;text-overflow: ellipsis;word-wrap: break-word;font-size: 10px;color: #767676;}
    .card-wrap ul li a .info .category {position: absolute; left: 20px; bottom: 20px;margin-top: 5px; height: 20px; width: calc(100% - 40px); line-height:1;}
    .card-wrap ul li a .info .category span {font-size:10px}
    .card-wrap ul li a .picture {position:relative; width:100%; height:0; padding:0 0 70%; background-position:center; background-size:cover; background-color:#ddd }
}
